body {
  background-image: url('assets/images/mechanic_garage.jpg');
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  #attachment-bar {
  height: 200px;
  width: 100vw;
  background: rgba(0,0,0,0.8);
  padding: 10px;
  display: flex;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}
#attachment-bar > div {
  margin: 10px;
  height: 190px;
  width: 160px;
  background: black;
  border-style: solid;
  border-color: black;
  border-size: 3px;
  /* display: flex; */
  position: relative;
  bottom: 10px
}
.attachment-name {
  font-size: 16px;
  color: white;
  text-align: center;
  position: relative;
  top: -10px;
}
.attachment-img {
  height: 160px;
  width: 160px;
  object-fit: cover;
  position: absolute;
  bottom: 0px;
}